.page-form {
    min-height: 100vh;
    padding-bottom: 10rem;
}

.btn-submit, .btn-cloudinary {
    border-color: #FF9659;
    background-color: #FF9659;
    height: 3rem;
    width: 9rem;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 1rem 0;
    align-items: center;
    text-align: center;
    border-radius: 1.25rem;
    color: white;
}

.btn-submit:hover {
    box-shadow: 0 0.2rem 0.5rem 0 rgba(157, 157, 157, 0.24), 0 0.2rem 0.5rem 0 rgba(164, 164, 164, 0.19);
    background-color: #ffa571;
    border-color: #ffa571;
}

.btn-cloudinary {
    background-color: #94da9a;
    border-color: #94da9a;
}

.btn-cloudinary:hover {
    box-shadow: 0 0.2rem 0.5rem 0 rgba(157, 157, 157, 0.24), 0 0.2rem 0.5rem 0 rgba(164, 164, 164, 0.19);
    background-color: #b1e8b6;
    border-color: #b1e8b6;
}

.img-projectForm {
    height: 5rem;
    width: 5rem;
}

.container-projectForm {
    display: flex;
    height: 43rem;
    width: 62rem;
    margin: 8% auto 8% auto;
    justify-content: center;
    align-self: center;
    border: 0.2rem solid rgba(211, 211, 211, 0.685);    
}

.form-projectRequest {
    width: 25rem;
    height: 40rem;
    margin: 0 2rem 0 2rem;
    text-align: center;
    padding: 5rem;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-user, .form-pro {
    text-align: left;
}
.img-container-form {
    margin: 0;
    padding: 0;
}

.img-form {
    width:34rem;
    height: 42.5rem;
    padding: 0;
    align-self: center;
}