# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

CLOUD_NAME="dupram4w7"
API_KEY="624895647923145"
API_SECRET="cKV-8PX2SOaZkZoT5iStf2s0TmM"
UPLOAD_PRESET="huvsusnz"
