.button__pro {
    color: black;
    border: none;
    background-color: rgba(132, 132, 152, 0.211);
    padding: 1rem;
    border-radius: 5%;
    margin: 1rem;
    width: 16rem;
    height: 23rem;
    box-shadow: 0.5rem 0.5rem rgba(234, 229, 229, 0.493);
}

.list__pros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
    justify-items: center;
    margin: 3rem auto 3rem auto;
    padding: 1rem;
}

.profileImage-pro {
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.h4-home {
    text-align: center;
    margin-left: 0;
    margin-right: 1.5rem;
    padding: 2rem;
}

.h4-proName {
    padding: 1.5rem;
}

.list-proPreview {
    padding: 0;
    margin: 0; 
    list-style: none;
    text-align: center;
    font-size: medium;
}

.search-pro {
    display: flex;
    justify-content: flex-end;
}

.input-search {
    border: none;
    border-bottom: 0.2rem solid gray;
    box-shadow: 0.2rem 0.2rem rgba(211, 211, 211, 0.511);
    margin: 5rem 8rem 2rem 0
}