.page-account {
    height: 100vh;
}

.main-account {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 10rem;
}

.image-stack {
    display: flex;
    position: relative;
    height: 100vh;
}

.image-stack_top {
    justify-content: center;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    margin: 0rem -2rem 45rem -4rem;
    align-self: center;
}

.header-account {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}

.body-account {
    justify-content: center;
    margin-bottom: 3rem;
    padding: 3rem;
    width: 40rem;
}

.h1-account, .body-contact {
    padding: 2rem;
    padding: 2rem;
}

.btn-editProfile, .btn-accountSave, .btn-accountCancel, .btn-accountPhoto {
    border-color: #FF9659;
    background-color: #FF9659;
    height: 3rem;
    width: 10rem;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 1rem 0;
    align-items: center;
    text-align: center;
    border-radius: 1.25rem;
    color: whitesmoke;
}

.btn-accountPhoto {
    background-color: #94da9a;
    border-color: #94da9a;
}