.main-landing {
    width: 100%;
    height: 100vh;
    margin-top: -10rem;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: top;
}

.content-landing {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding-top: 20rem;
    padding-bottom: 10rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 49, 48, 0.309);
}

.landing-header { 
    margin-left: auto;
    margin-right: auto;
}

.landing-header h1{
    padding-top: 0;
    height: 7rem;
    width: 45rem;
    justify-content: center;
}

.h1-landing {
    font-size: 80px;
    font-weight: bold;
    padding: 1rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.rotatingText {
    display: inline-block;
    margin: 0 2rem;
    text-transform: uppercase;
}

.rotatingText span { 
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    overflow: hidden;
    bottom: 0;
    animation: change-text 15s linear infinite;
}
  
.rotatingText span::before {
    content: "";
    position: absolute;
    align-items: bottom;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.rotatingText span:nth-child(1) {
    animation-delay: 0s;
}

.rotatingText span:nth-child(2) {
    animation-delay: 3s;
}

.rotatingText span:nth-child(3) {
    animation-delay: 6s;
}

.rotatingText span:nth-child(4) {
    animation-delay: 9s;
}

.rotatingText span:nth-child(5) {
    animation-delay: 12s;
}

@keyframes change-text {
0% {
    opacity: 0;
    transform: translateY(-50px);
}

2% {
    opacity: 1;
    transform: translateY(0px);
}

18% {
    opacity: 1;
    transform: translateY(0px);
}

20% {
    opacity: 0;
    transform: translateY(50px);
}

100% {
    opacity: 0;
    transform: translateY(50px);
}
}

.btn-create {
    border-radius: 5%;
    color: whitesmoke;
    background-color: rgb(231, 134, 78);
    border: none;
    box-shadow: 0 0.2rem 0.5rem 0 #ff9558ab, 0 0.2rem 0.5rem 0 #ff9558ab;
    height: 4rem;
    width: 14rem;
    padding: 0.5rem 1rem;
    margin: 2rem;
    align-items: center;
    text-align: center;
}

.btn-create:hover {
    box-shadow: 0 0.5rem 1rem 0 #ff9558ab, 0 0.5rem 1rem 0 #ff9558ab;
    background-color: #FF9659;
    border-color: #FF9659;
}

.landing-summary {
    font-weight: 400;
    width: 50rem;
    font-size: 2rem;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.landing-summary_second{
    font-size: 1.25rem;
}

.footer-landing {
    display: flex;
    justify-content: center;
    background-color: #324254;
    padding: 3rem;
    position: relative;
    left: 0;
    bottom: 0;
}