@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Train+One&family=Unica+One&display=swap');

body {
  margin: 0;
  font-family:'Roboto', sans-serif  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif ;
}
