.navbar-out {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #FF9659;
    position: relative;
    z-index: 1001;
    font-family: 'Unica One', cursive;
}

.navbar-button {
    font-size: medium;
    border: none;
    border-radius: 10%;
    background-color: transparent;
    height: 4rem;
    width: 9rem;
    padding: 0.4rem;
    margin: 1rem;
    font-size: 1.5rem;
}
