.navbar__button {
    border-color: lightgray;
    border-radius: 10%;
    background-color: lightgray;
    height: 3rem;
    width: 7rem;
    padding: 0.4rem;
    margin: 1rem;
}

.navbar__account {
    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
    justify-items: center;
    padding: 0;
}

.navbar__image {
    border-radius: 100%;
    height: 100%;
    width: 100%;
}